<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    <div class="error_message">
        <div id="message">
            <h1>An error occurred</h1>
            <h2>{{error_name}}</h2>
            <p>{{message}}</p>
        </div>
        <a href="/">Return to home page</a>
    </div>
</div>
</body>
</html>