<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="Hello">
            <h1>Мудрость дня</h1>
            <img src="https://sun1-29.userapi.com/V2DJh5EM6IXtQwyySluQilra4J6nslGRFfeGxg/d2qqv__iN-w.jpg">
        </div>

    </div>

    {{>footer}}
</div>
</body>
</html>