<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="welcome">
            <img src="/images/stock_photo.jpg" alt="Some photo">
            <div class="info">
                <h1>WELCOME TO MY SHITTY WEBSITE</h1>
                <p>There must be a lot of useful information, but there isn't</p>
                <a href="/">Link to something</a>
            </div>
        </div>

    </div>

    {{>footer}}
</div>
</body>
</html>