<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="profile">
            <div class="profile_header">
                <div class="picture">
                    <img src="https://avatars3.githubusercontent.com/u/33801458?s=400&u=c22d6d2b615f0240da167b006c139d90af84b544&v=4" alt="" class="box-img">
                </div>
                <div class="name">Username : {{username}}</div>
                <div class="phone">Phone number : {{phone}}</div>
                <div class="gender">Gender : {{gender}}</div>
                <div class="description">{{description}} </div>
            </div>
            <div class="logout">
                <a href="/logout">Log out</a>
            </div>
        </div>
    </div>
</div>

{{>footer}}
</div>
</body>
</html>