<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="profile">
            <div class="profile_header">
                <div class="picture">
                    <img src="/images/profile.jpg" alt="" class="box-img">
                </div>
                <div class="name">Username : {{username}}</div>
                <div class="phone">Phone number : {{phone}}</div>
                <div class="gender">Gender : {{gender}}</div>
                <div class="description">{{description}} </div>
            </div>
            <div class="profile_buttons">
                <a href="/logout">Log out</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
    </div>
</div>

{{>footer}}
</div>
</body>
</html>