<!DOCTYPE html>

<html>
{{>header}}
<body>
<div class="wrapper">
    {{>menu}}

    <div class="content">
        <div class="login">
            <h2>Login</h2>
            <form action="/register" method="post">

                <div class="inputBox">
                    <input type="text" name="username" required="">
                    <label>Username</label>
                </div>

                <div class="inputBox">
                    <input type="password" name="password" required="">
                    <label>Password</label>
                </div>

                <div class="inputBox">
                    <input type="text" name="phone_number" required="">
                    <label>Phone number</label>
                </div>

                <div class="inputBox">
                    <div class="option">
                        <p><input type="radio" name="gender" value="male" checked>Male</p>
                        <p><input type="radio" name="gender" value="female">Female</p>
                        <p><input type="radio" name="gender" value="wolf">Wolf</p>
                    </div>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>

    </div>

    {{>footer}}
</div>
</body>
</html>