body {
    margin: 0;
    padding: 0;
    background: #C3C9E9;

    font-family: sans-serif;
}

/*
    Color palette

    #C3C9E9 - Periwinkle Crayola

    #6C91C2 - Blue Gray

    #373F47 - Charcoal

    #8B8982 - Middle Grey

    #AAABBC - Cadet Blue Crayola
 */

.wrapper { /* All elements centered from top to bottom */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TOP MENU */

#menu {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 10vh;
    width: 100vw;
}

#menu a {
    text-decoration: none;
    color: #373F47;
    font-size: 32px;
    width: 200px;
    text-align: center;
    font-weight: 700;
    padding: 14px 20px;
    text-transform: uppercase;

    transition: .7s ease-in-out;
}

#menu a:hover {
    background:  #373F47;
    color: #C3C9E9;
}

/* TOP MENU END */

/* CONTENT */

.content {
    min-height: 85vh;
}

.Hello {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #373F47;
    width: 80vw;
    color: #C3C9E9;

}

.Hello img {
    width: 50%;
    padding-bottom: 100px;
}

/* CONTENT END */

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #373F47;
    color: #C3C9E9;

    min-height: 5vh;
    width: 100vw;
}


.footer .links a {
    padding: 0px 10px;
    text-decoration: none;
    color: #C3C9E9;
}
.footer .links a:hover {
    color: #6C91C2;
}

.footer p {
    font-size: 12px;
}

/* FOOTER END */

/* ERROR MESSAGES */

.error_message {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #373F47;

    width: 70vw;
    height: 70vh;
}

.error_message a {
    text-decoration: none;
    color: #373F47;
    font-size: 32px;
    width: 200px;
    text-align: center;
    font-weight: 700;
    padding: 14px 20px;
    text-transform: uppercase;

    transition: .7s ease-in-out;
}

.error_message a:hover {
    background:  #373F47;
    color: #C3C9E9;
}

.error_message {

}

/* ERROR MESSAGES END */